{% extends 'studentbase.html' %}
{% block content %}
{%load static %}

<div class="container">
  <div>
    <div>
      <h2>My Marks</h2><br>
    </div>
    <div style="overflow-x:auto;">
    <table>
      <thead>
        <tr>

          <th><b>Course</b></th>
          
          <th><b>Action</b></th>
        </tr>
      </thead>
      {% for t in courses %}
      {% if t.status == True %}
      <tr>

        <td> {{t.course_name}}</td>
        
        <td class='text-center'><a class="btn btn-dark btn-xs ms-1" href="{% url 'check-marks' t.id stud.ad_no  %}"><span class="glyphicon glyphicon-eye-open"></span>View Marks</a></td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    </div>
  </div>
</div>
{% endblock content %}